html {
  background: #89cff0;
  color: #fff;
}
.App {
  text-align: center;
}
.info-container {
  margin-bottom: 40px;
}
.info {
  font-size: 18px;
  font-weight: 600;
}
button {
  background: #000;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}
.nft-image-container {
  width: calc(50% - 20px);
  float: left;
  padding-right: 20px;
}
.nft-info {
  width: calc(50% - 20px);
  float: left;
  padding-left: 20px;
  padding-top: 30px;
  text-align: left;
}
.nft-image-container img {
  width: 400px;
  float: right;
  border-radius: 10px;
}
.nft-info h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 32px;
}
label {
  font-weight: 800;
  font-size: 16px;
}
.nft-name, .nft-description, .nft-token-id {
  font-size: 20px;
  margin-bottom: 20px;
}
.loading-component {
  padding-top: 40px;
}
.loading-component img {
  width: 80px;
}
@media only screen and (max-width: 900px) {
  .nft-image-container, .nft-info {
    width: 100%;
    float: none;
  }
  .nft-image-container img {
    float: none;
  }
  .nft-info {
    text-align: center;
  }
}